<head>
  <link rel="stylesheet" href="items.css" />
</head>
<body>
  <div id="list-content">
    <div class="row">
      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="subtitle">mildee 溫柔洗護產品包裝</p>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="example-1 card">
        <div class="wrapper">
          <div class="data">
            <div class="content">
              <img src="D:\work\project\giftwrapping\view\0.png" />
              <h3 class="title">
                <a href="#">抽屜紙盒</a>
              </h3>
              <p class="text">
                假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字假的字
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
