#line-block1 {
  z-index: 9999;
  position: fixed;
  display: flex;
  bottom: 200px;
  right: 38px;
  cursor: pointer;

  background-color: #ffffff00;
  color: rgba(255, 255, 255, 0);
  border: none;
}

#line-block2 {
  display: none;
  /* width: 200px; */
  /* height: 200px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  z-index: 9999;
}
#line-block1:focus + #line-block2 {
  display: block;
}
#line-bg {
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(49, 48, 47);
}

#line-qrcode img {
  /* position: fixed; */
  z-index: 99999;

  /* position: absolute; */

  /* display: block; */
  /* position: absolute; */
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%);

  animation: slide-up 0.5s ease-out forwards;
  opacity: 0;
  position: relative;
  top: 0;
  /* bottom: -100px; */
}

@keyframes slide-up {
  to {
    opacity: 1;
    bottom: 0;
  }
}
